label {
    display: inline-block;
    margin: 10px 0;
}

input{
    border: 1px solid #dedede;
    display: block;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input:focus{
    outline: none;
}

.btn{
    background: #15274B;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 10px 0 30px;
    font-size: 16px;
}